<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DirectoryDeletionPattern" value="^bin$|^obj$|^Debug$|^Release$" />
    <add key="FileDeletionPattern" value="\.scc$|\.vssscc$|\.user$|\.vspscc$|\.suo$" />
    <add key="FileBindingPattern" value="\.(cs|vb)proj$|\.sln$" />
  </appSettings>
</configuration>